* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
    
  }
  

  .signup-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
   
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .terms {
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  .terms a {
    color: #007bff;
    text-decoration: none;
  }
  
  .signup-button {
    width: 100%;
    padding: 12px;
    background-color: #fb641b;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signup-button:hover {
    background-color: #ff8c1a;
  }
  
  .login {
    text-align: center;
    margin-top: 15px;
  }
  
  .login a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  